<div class="contact-right-pane">
	<div class="card" >
		<div class="card-header notoppad" style="line-height: 60px">
			<span *ngIf="!contact" >
				Choose a contact
			</span>
			<div *ngIf="contact" style="font-size: x-large;">{{contact.name}}</div>
		</div>
		<div class="card-block" >
			<div *ngIf="!contact">
			</div>
			<div *ngIf="contact">	
				<form>
					<div class="form-group">
					<label for="editname">Name</label>
						<input type="text" name="editname" [(ngModel)]='tcontact.name' class="form-control" id="editname" placeholder="Enter name">
					</div>
					<div class="form-group">
						<label for="edittelephone">Telephone</label>
						<input type="text" name="edittelephone" [(ngModel)]='tcontact.mobile' class="form-control" id="edittelephone" placeholder="Enter telephone number">
					</div>
					<div class="form-group">
						<button type="button" class="btn btn-warning" (click)="delete()">Delete</button>
					</div>
						<button [ngClass]="{'disabled':isInputsSame()}" (click)="update()" class="btn btn-success ">Save</button>
						<button [ngClass]="{'disabled':isInputsSame()}" type="button" (click)="reset()" class="btn btn-danger float-right ">Reset</button>
				</form>
			</div>
		</div>
		<div class="card-footer">
			<span class="font-italic"><em>{{this.contactService.statusMsg}}</em></span>
		</div>
	</div>
</div>
