.contact-right-pane .card{
	width:100%; height: 100%;
	border-left:0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.contact-right-pane .card .card-header{
		border-top-left-radius: 0;
}
.contact-right-pane{
	height: 100%;
	width:100%;
}
contact-detail{
	width:70%;
}