<div class="contact-pane h-100">
<div class="contact-left-pane">
<div class="card">
	<div class="card-header text-center nopad">
		<div style="line-height: 60px; padding:0; font-size: xx-large; font-weight: bold;">Contacts</div>
		
	</div>
	<div class="card-block" style="overflow: overlay;">
		<form >
			<div class="visible-field form-group" [hidden]='newContactExpanded'><button class="btn btn-outline-success btn-block" (click)="onShowNewContact()">Add Contact</button></div>
			<div class="hidden-field" [hidden]='!newContactExpanded'>
				<div class="form-group" [ngClass]="{ 'has-danger':hasError}">
					<label>Contact Name</label>
					<input  class="form-control form-control-danger" [(ngModel)]="newContact.name" type="text" name="name">
				</div>
				<div class="form-group">
					<label>Telephone</label>
					<input type="text"  class="form-control" [(ngModel)]="newContact.mobile" name="mobile">
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col">
							<button class="btn btn-block btn-primary" (click)="onNewContact()">Add</button></div>
							<div class="col">
								<button class="btn btn-block btn-warning" (click)="onCancelNewContact()">Cancel</button>
							</div>
						</div>
					</div>
				</div>
			</form>
			<div class="list-group">
				<a href=""  *ngFor="let c of contacts" class="list-group-item list-group-item-action" routerLinkActive="active" [routerLink]="['contact',c.id]">
					<contact [contact]="c"></contact>
				</a> 
			</div>
		</div>
		
		<div class="card-footer">
		</div>
	</div>
	</div>
	<div style="width:70%">
	<router-outlet></router-outlet>
	</div>
</div>
