.contact-pane{
	    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
}


.contact-left-pane{
	width:30%;
}

.contact-left-pane .card{
	height: 100%;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.contact-left-pane .card .card-header{
	border-top-right-radius: 0;
}

contact-detail {
	width:70%;
}