/* You can add global styles to this file, and also import other style files */
body{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #dddbd1;
  
}
html,body{
	height:100%;
      min-width: 768px;
}

.card-header{
	background-color: #009688;
	color: white;
}
.nopad{
	padding:0px;
}
.notoppad{
	padding-top:0px;
	padding-bottom:0px;
}
.card-footer{
	height:40px;
}